div(class="content")
  h1(class="title is-1") About Us
  h2(class="subtitle is-3") Our Mission
  p The San Mateo High School Coder vs. Coder club is a new club for coders to showcase their talents and release their competitive nature.
  h2(class="subtitle is-3") How it Works
  p
  h2(class="subtitle is-3") The Leaders
  p The club is led and was founded by two SMHS students: Brandon Suen and Uri Kreindler.
  h4(class="subtitle is-5") Brandon Suen
  h4(class="subtitle is-5") Uri Kreindler
