extends layout

block menu
  p(class="menu-label") What's new?
  ul(class="menu-list")
    li
      a(href="/" class="is-active") News and announcements
    li
      a(href="/calendar") Calendar
  p(class="menu-label") Who we are
  ul(class="menu-list")
    li
      a(href="/about-us") About us
    li
      a(href="/contact-us") Contact us
block routecontent
