aside(class="is-one-third")
  p(class="menu-label") What's new?
  ul(class="menu-list")
    li
      a(class="is-active", data-name="news") News and announcements
    li
      a(data-name="calendar") Calendar
  p(class="menu-label") Results
  ul(class="menu-list")
    li
      a(data-name="standings") Standings
    li
      a(data-name="tournaments") Past tournaments
  p(class="menu-label") Who we are
  ul(class="menu-list")
    li
      a(data-name="about") About us
    li
      a(data-name="contact") Contact us
