extends skeleton

block metadata

block content
  include hero.pug
  include signup.pug
  section(class="section")
    div(class="container")
      div(class="columns")
        include menu.pug
        div(id="main-content", class="container")
          include news.pug
  include footer.pug
  script(src="/js/client.js")
