extends layout

block metadata
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald:700")
  link(rel="stylesheet", href="/styles/style.css")

block content
  section(id="title-container", className="hero")
    h1 SMHS
      span codervscoder
    - if (signedin) {
      p= "Nice to see you " + username
    - }
    - else {
      a(href="/signup") Sign up
    - }
  div(id="react")
  script(src="/components/index.js")
